<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerlink="/">AEROPUERTO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" routerlink="PASAJEROS" routerlinkactive= "active">VUELOS <span class="fas fa-gamepad"></i></a>
        <a class="nav-link" routerlink="PASAJEROS"></a>
        <a class="nav-link" routerlink="/PASAJEROS/ADD" routerlinkactive="active"><i class =fas fa-plus-circle>ADD PASAJERO</a>
        <a class="nav-link" routerlink="VUELOS"routerlinkactive="active"></a>


      </div>
    </div>
  </nav>
